@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

        body {
        background-color: rgb(207, 205, 202);
        background-repeat:no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        }
       #scrollOne {
        text-align: center;
        font-size: 750%;
        margin-top: 12%;
        font-family: 'Poppins', sans-serif;
        color:rgb(157, 93, 14);
        align-items: center;
        }
        #iconOne {
        text-align: center;

        }
        #firstIcon{
        width: 220px; 
        height: 220px;
        border-radius: 50%;   
        }
        #secondPage{
            align-items: center;
            text-align: center;
            display:flex;
            min-height: 100vh;
            justify-content: center;
            font-family: 'Poppins', sans-serif;
            color: #a40505;
        }
        button {
            background-color: rgb(157, 93, 14);
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1em;
            margin-top: 100px;
        }

        button:hover {
            background-color: #7a4d2f;
        }

        button:active {
            background-color: black;
        }